.card-project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;

  > picture {
    @include aspect-ratio(1, 1);
    grid-column: 1;
    grid-row: 1;
    transform: scale(1);
    transition: 0.5s ease;
  }

  > section {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;

    @include breakpoint(tablet) {
      padding: 2rem;
    }
    color: white;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      opacity: 0;
      transition: 0.5s ease;
      z-index: -1;
    }
  }

  @include active {
    > picture {
      transform: scale(1.05);
      > img {
        opacity: 1;
      }
    }

    > section:before {
      opacity: 1;
    }
  }
}
