.card-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;

  &:before {
    content: "“";
    font-size: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    opacity: 0.075;
    line-height: 0.8;
    font-weight: 800;
    padding: 1rem;
    pointer-events: none;
    z-index: -1;
  }

  blockquote {
    font-weight: 800;
    font-size: 120%;
    margin-bottom: 1rem;
  }

  figcaption {
    font-style: italic;
    font-weight: 500;
  }
}
