// other vendor
// ------------
@import "_vendor/iconfont/iconfont"; // iconfont
@import "_vendor/StripeEffect.scss";

// global
// ------
@import "global/settings";
@import "global/mixins";
@import "global/fonts";
@import "global/framework"; // framework

@import "global/wp";
@import "global/helpers";
@import "global/base";
@import "global/typography"; // typography
@import "global/icons"; // icon helpers
@import "global/advanced-forms.scss"; // advanced forms

// components
// ----------
@import "components/header";
@import "components/footer";
@import "components/lists";
@import "components/links.scss";
@import "components/menus";
@import "components/containers.scss";
@import "components/cards";
@import "components/sections";
@import "components/forms";
@import "components/buttons.scss";
@import "components/swiper-nav.scss";
@import "components/project-grid.scss";
