header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;

  .brand {
    max-width: 200px;
  }
}
