.icon {
  line-height: 1;
  display: inline-block;

  &:before {
    display: block;
    line-height: 1;
  }

  &.icon-flipped:before {
    transform: scale(-1, 1);
  }
}

@each $icon, $glyph in $iconfont-map {
  %icon-#{$icon} {
    content: $glyph;
  }
}

%icon-before {
  font-family: iconfont !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
