$breakpoints: (
  "mobile": 767px,
  "tablet": 992px,
  "laptop": 1200px,
  "desktop": 1600px,
);

$theme-colors: (
  #ee6f53,
  #eab14b,
  #a8ea6c,
  #4bea8b,
  #5ecfc5,
  #a481e8,
  #f07ecd,
  #f07e7e
);

:root {
  --filter-color: #2e333b;
  --primary-color: #db4868;
  --red: #db4868;
  --medium-gray: rgb(194, 200, 205);
  --gradient: linear-gradient(to right, purple, red);
  --gradient-dark: linear-gradient(to right, #261e3b, #182d57);
  --body-font: "Poppins", serif;
  --body-font-weight: 300;

  --transition-base: 0.25s ease;
}

// large config
// ------------
// 6561 chars 6.41kb
// css vars shunk: 5487 chars 5.36kb
// gzip potential: 1646.1 chars 1.608kb
//-------------
$spacer: 12px;
$spacers: (
  half: $spacer / 2,
  1: $spacer,
  2: $spacer * 2,
  large: $spacer * 4,
);

$container-width: 1400px;
$row-cols: 6;
$cols: 12;
$col-offsets: $cols;
$gaps: $spacers;
$breakpoints: (
  xs: 0px,
  sm: 300px,
  md: 600px,
  lg: 1000px,
  xl: 1400px,
);
$container-breakpoints: $breakpoints;
$container-min-breakpoint: sm;
$col-breakpoints: $breakpoints;
$col-offset-breakpoints: $breakpoints;
$row-breakpoints: $breakpoints;
$gap-breakpoints: $breakpoints;
$grid-gap: (
  xs: 8px,
  md: 16px,
);
$container-spacing: (
  xs: 16px,
  md: 32px,
);
$section-spacing: (
  xs: 32px,
  md: 64px,
);
